body {
  background-color: #fff;
  overflow: hidden;
  color: #6d3c9d;
}

.container {
  font-family: sans-serif;
  text-align: center;
  margin-top: 250px;
}

.loading {
  font-size: 5rem;
}

.loading span:nth-of-type(2) {
  animation-delay: 0.05s;
}
.loading span:nth-of-type(3) {
  animation-delay: 0.1s;
}
.loading span:nth-of-type(4) {
  animation-delay: 0.15s;
}
.loading span:nth-of-type(5) {
  animation-delay: 0.2s;
}
.loading span:nth-of-type(6) {
  animation-delay: 0.25s;
}
.loading span:nth-of-type(7) {
  animation-delay: 0.3s;
}
.loading span:nth-of-type(8) {
  animation-delay: 0.35s;
}
.loading span:nth-of-type(9) {
  animation-delay: 0.4s;
}
.loading span:nth-of-type(10) {
  animation-delay: 0.45s;
}
.loading span:nth-of-type(11) {
  animation-delay: 0.5s;
}
.loading span:nth-of-type(12) {
  animation-delay: 0.55s;
}
.loading span:nth-of-type(13) {
  animation-delay: 0.6s;
}
.loading span:nth-of-type(14) {
  animation-delay: 0.65s;
}
.loading span:nth-of-type(15) {
  animation-delay: 0.7s;
}
.loading span:nth-of-type(16) {
  animation-delay: 0.75s;
}
.loading span:nth-of-type(17) {
  animation-delay: 0.8s;
}
.loading span:nth-of-type(18) {
  animation-delay: 0.85s;
}
.loading span:nth-of-type(19) {
  animation-delay: 0.9s;
}
.loading span:nth-of-type(20) {
  animation-delay: 0.95s;
}

.loading span {
  display: inline-block;
  opacity: 0;
  transform: translate(200px, -100px) scale(2);
  animation: ballDrop 5s forwards;
  animation-iteration-count: infinite;
}

@keyframes ballDrop {
  0% {
    transform: translate(0, 20px) rotate(-270deg) scale(0.5);
  }

  60% {
    transform: translate(0) rotate(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(0) rotate(0deg) scale(1);
    opacity: 1;
  }
}
